.nav-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 8;
    background-color: white;
    padding: 0.75rem;
    box-sizing: border-box;
}

.sidebar {
    flex: 2;
    background-color: white;
    color: #fff;
    padding: 0.75rem;
    box-sizing: border-box;
}

.sidebar a {
    color: #24292e;
    text-decoration: none;
    display: block;
    padding: 0.75rem;
}

.sidebar a:hover {
    background-color: #f6f8fa;
}

.sidebar a.active{
    border-bottom: 1px solid rgb(95, 95, 237);
}
